body{
    padding: 0;
    background-color: #d6e2f0;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1{
    margin: 30px auto 0; 
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
}

p{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5; 
    margin: 15 0;
}

img{
    border-radius: 25px;
    width:90%;    
}

.QRcontainer{
    padding-top: 20px;
}

.attribution{
    background-color: white;
    border-radius: 25px;
    display:block;
    height: 600px;
    width: 400px;
    margin: 15% auto;
}

.info-row{
    margin: 0 auto;  
    width: 80%;
}

